{% extends 'digiApp/security/base/sec-app.html' %}
{% load static %}

{% block content %}
<section class="signup">
    <div class="container-fluid">
        <div class="signup-content">
            <h2 class="form-title text-center">LOG IN</h2>
            
            <!-- Social Authentication (Google and Facebook) -->
            <div class="form-group mb-3">
                <a href="" class="btn btn-danger w-100">
                    <i class="bi bi-google"></i> Log in with Google
                </a>
                <a href="" class="btn btn-primary w-100 mt-2">
                    <i class="bi bi-facebook"></i> Log in with Facebook
                </a>
            </div>

            <!-- Centered 'Or' text with horizontal lines -->
            <div class="form-group text-center mb-3">
                <div class="d-flex align-items-center">
                    <hr class="flex-grow-1" style="border-top: 1px solid #2c2b2b;">
                    <span style="padding: 0 10px;">Or login with</span>
                    <hr class="flex-grow-1" style="border-top: 1px solid #2c2b2b;">
                </div>
            </div>


            <form method="POST" action="{% url 'security.login' %}" enctype="multipart/form-data" id="signup-form" class="signup-form">
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username"/>
                </div><br>                
                
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                        <span class="input-group-text toggle-password" id="toggle-password">
                            <i class="bi bi-eye" id="eye-icon"></i>
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Log In"/>
                </div>
            </form>

            <p class="loginhere">
               Don't Have an account? <a href="{% url 'security.signup' %}" class="loginhere-link">Sign Up here</a>
            </p>

            <div class="f-pass" style="text-align: center;">
                <a href="{% url 'password_reset' %}">Forgot your password?</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
