{% extends 'digiApp/security/base/sec-app.html' %}


{% block content %}
<section class="signup">
        <div class="container">
            {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <div class="signup-content">
            <form method="POST" action="{% url 'password_reset' %}" id="password-reset-form" class="signup-form">
                {% csrf_token %}
                <h2 class="form-title">Reset Your Password</h2>

                <div class="form-group">
                    <input type="email" class="form-input" name="email" id="email" placeholder="Enter your email address"/>
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Send Reset Link"/>
                </div>
            </form>

            <p class="loginhere">
                Remember your password? <a href="{% url 'security.login' %}" class="loginhere-link">Login here</a>
            </p>

        </div>
    </div>
</section>
{% endblock %}
