{% extends 'digiApp/security/base/sec-app.html' %}


{% block content %}
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <h2 class="form-title">Password Reset Complete</h2>
            <p>Your password has been successfully reset.</p>
            <p>You can now log in with your new password.</p>

            <p class="loginhere">
                Go back to <a href="{% url 'security.login' %}" class="loginhere-link">Login</a>.
            </p>
        </div>
    </div>
</section>
{% endblock %}
