{% extends 'digiApp/security/base/sec-app.html' %}


{% block content %}
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <h2 class="form-title">Check Your Email</h2>
            <p>An email has been sent with instructions to reset your password.</p>
            <p>If you don't see the email, check your spam folder or try again.</p>

            <p class="loginhere">
                Remember your password? <a href="{% url 'security.login' %}" class="loginhere-link">Login here</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
